.detail-menu {
  display: flex;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 36px;
  line-height: 36px;
  padding: 4px 4px 6px 4px;

  .back-button {
    margin-right: 5px;
  }

  .star-button {
    margin-left: 5px;
  }
}