.selector {
  .type-selector {
    margin-bottom: 5px;
  }

  .option-selector {
    .select-box-l {
      width: 47%;
      margin: 0 2%;
    }

    .select-box-r {
      width: 47%;
      margin-right: 2%;
    }
  }
}