.type-selector {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .type-element {
    display: inline-block;
    width: 100px;
    height: 60px;
    border-style: none none solid solid;
    border-width: 2px;
    border-color: #ccc;
    text-align: center;
    line-height: 60px;

    &.active {
      color: #0D6EFD;
    }
  }

  .type-element:last-child {
    border-style: none solid solid solid;
  }

  .loading {
    height: 60px;
    border-style: none solid solid solid;
    border-width: 2px;
    border-color: #ccc;
  }
}

.option-selector {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .option-element {
    display: inline-block;
    width: 100px;
    height: 60px;
    border-style: none none solid solid;
    border-width: 2px;
    border-color: #ccc;
    text-align: center;
    line-height: 60px;

    &.active {
      color: #0D6EFD;
    }
  }

  .option-element:last-child {
    border-style: none solid solid solid;
  }
}