.index-menu {
  .papar-area {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 5px;
  }

  .region-search {
    display: flex;
    height: 36px;
    line-height: 36px;
    padding: 4px;
  }
}